{
    "CertPath": "",
    "KeyPath": "",
    "CaPath": "",
    "RedisAddress": "redis.example.com:6379",
    "StatusAddress": "localhost:8091",
    "User": "_acacia",
    "Actions": {
        "channel": "command",
        "ping": "/sbin/ping -c 5"
    }
}
